<main>
    <div class="content">
        <h1 class="page-title">Профиль</h1>
        <form class="form-content">
            {{{email}}}
            {{{login}}}
            {{{first_name}}}
            {{{second_name}}}
            {{{display_name}}}
            {{{phone}}}
        </form>
        {{{button}}}
    </div>
</main>
