<main>
    <div class="content">
        <h1 class="page-title">Регистрация</h1>
        <form class="form-content">
            {{{email}}}
            {{{login}}}
            {{{first_name}}}
            {{{second_name}}}
            {{{display_name}}}
            {{{password}}}
            {{{phone}}}
            {{{button}}}
        </form>
    </div>
</main>
